.DS_Store
_site
.sass-cache
~$*
*.asv
*~
*#
*.md-e
*.pyc
.#*
*.slides.markdown
*.notes.markdown
*.ipynb.markdown
*.html.markdown
*.docx.markdown
*.slides.md
*.notes.md
*.ipynb.md
*.tex.md
*.html.md
*.docx.mdn
*.notes.docx
*.notes.docx.md
*.notes.log
*.notes.out
*.notes.aux
*.notes.tex.markdown
*.markdown-e
*.d
*.tmp.html
*.bak
*.bbl
*.blg
*.log
_*/*.ipynb
!_notebooks/*.ipynb
_*/*.slides.html
_*/*.notes.html
_*/*.posts.html
_*/*.notes.tex
_*/*.notes.pdf
*-checkpoint.ipynb
_amazon/
paolo-peppercorn.mp4
paolo-save.mp4
