.DS_Store
_site
.sass-cache
~$*
*.asv
*~
*#
*.pyc
.#*
*.slides.md
*.notes.md
*.tmp.html
*.ipynb.md
*.bak
_*/*.ipynb
_*/*.slides.html
_*/*.notes.html
_*/*.posts.html
_*/*.notes.tex
_*/*.notes.pdf
*-checkpoint.ipynb
_amazon/
*.mp4