.reveal h1 { font-size: 1.6em;
	     text-transform: none;
}
.reveal h2 { font-size: 1.2em;
	     text-transform: none;
}
.reveal h3 { font-size: 1em;
	     text-transform: none;
}
.reveal h3 { font-size: 1em;
	     text-transform: none;
}

.math_display { font-size: 2.5em !important;
}

.reveal table {
    border:none;
    td{
	border:none;
    }
}
