<meta property="fb:admins" content="neil.d.lawrence"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.abstract | truncate: 200 }}"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="{{page.date | date_to_xmlschema }}">{% if false %}
<meta property="article:author" content="">{% endif %}
<meta property="article:section" content="Machine Learning">
<meta property="og:url" content="{{site.url}}{{site.baseurl}}{{ page.url }}"/>{% if site.logo %}
<meta property="og:image" content="{{site.url}}{{site.baseurl}}/{{site.logo}}"/>{%else%}
<meta property="og:image" content="{{site.url}}/img/pmlr.png"/>{%endif%}
<meta property="og:site_name" content="PMLR"/>
