---
layout: default
---
<div class="post">
  
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if site.github.edit %}
    <p align="right">[<a href="https://github.com/{{ site.github_username }}{{site.baseurl}}/edit/gh-pages/{{ page.path }}">edit</a>]
    {% endif %}

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
